/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#about,
#projects {
  transition: opacity 1s ease-in-out;
  opacity: 0; /* Start with both sections hidden */
  display: none; /* Hide sections initially */
  /* margin-top: 10vh; */
}

.intro {
  color: #e8e9ed;
}

#projects {
  /* Make Projects visible initially */
  opacity: 1;
  display: block;
}

* {
  /* margin: 0; vaikuttaa korttien kokoon */
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  scroll-behavior: smooth;
  cursor: none;
}

body {
  height: 120vh;
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text",
    "Times New Roman", serif;
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #050303;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.6s;
}
.headerItem {
  font-size: 300%;
  margin: 10px;
  text-decoration: none; /* Removes underline from links */
  color: #efe6e6;

}

/* #headerprojects {
  border-left: 1px solid #333;
  padding-left: 20px;
} */

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
  
}

.contentbox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container {
 max-width: 1120px; 
  width: 100%;
  padding: 40px 0;
  /* margin-top: 10vh; */
  /* height: 80vh; */
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 25px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ff8400;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #ff8400;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 200px;
  border-radius: 10px;
  background: rgb(2, 2, 2);
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  border: 4px solid #070707;
}

.card-img {
  border-radius: 10px;
}

#pysty {
  width: auto;
}
#pystyKuva {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description {
  font-size: 14px;
  color: #707070;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100px;
  width: 100%;
  font-weight: 400;
  text-align: justify;
  justify-content: center;
}

.button-container {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #333;
  border-radius: 6px;
  margin: 14px;

  transition: all 0.3s ease;
  text-decoration: none;
}

.gitButton {
  background-image: url(/github-mark.svg);
  position: relative;

  width: 50px;
  height: 50px;
  background-size: cover;
  border: none;

  border-radius: 50%;


  transition: fill 0.3s ease; /* Smooth transition for hover effect */
}

.gitlab {
  background-image: url(/gitlab-icon.svg);
  position: relative;
  width: 50px;
  height: 50px;
  background-size: cover;
  border: none;
  border-radius: 5px;

}

.gitlab:hover {
  background: rgb(186, 179, 170);
  background-image: url(/gitlab-icon.svg);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #ff8400;
}
.gitButton:hover {
  background: rgb(186, 179, 170);
  background-image: url(/github-mark.svg);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-color: #ff8400;
}

#myFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;

  width: 100%;
  transition: top 0.6s;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  color: #ffffff;
}

.footer-item {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: none;

  transition: fill 0.3s ease; /* Smooth transition for hover effect */
  margin: 20px;
}

.footer-item:hover {
  background-color: #ff8400;
  border-radius: 25%;
}
#linkedin {
  background-image: url(/LinkedIn_icon.svg);
}

#mail {
  background-image: url(/mailwhite.svg);
}

.button:hover {
  background: #ff8400;
}

.swiper-navBtn {
  color: #ff8400;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #ff8400;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #ff8400;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #e8e9ed;
}

@media screen and (max-width: 768px) {
  .headerItem {
    font-size: 150%;
  }

  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  .circle {
      cursor: auto; /* Reverts to the default cursor */
  }
}